@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
    user-select: none;
}

/* Estilos del encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
    margin: 3%;
    border-radius: 10px;
    backdrop-filter: blur(7px);
    background-color: #18181893;
}

.title-and-logo {
    display: flex;
    align-items: center;
}

.title-and-logo img {
    margin-right: 2%;
    width: 10%;
    border-radius: 100%;
}

.menu-icon {
    display: none;
    cursor: pointer;
    padding: 1%;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    border-radius: 1px;
    margin: 5px 0;
}

nav {
    display: flex;
    align-items: center;
}

.menu {
    list-style: none;
    width: 80%;
    margin: 2% auto;
    padding: 5%;
    display: flex;
    justify-content: space-between;
}

.menu .dift-menu {
    display: none;
}

.menu li {
    margin-right: 2%;
    margin: 10px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}

.menu li a:hover {
    color: red;
}

/* Estilos del menú en dispositivos móviles */
@media screen and (max-width: 768px) {
    .menu {
        width: 80%;
        margin: 2% auto;
        padding: 5%;
    }

    .menu-icon {
        display: block;
    }
}

/* Otros estilos */
a {
    text-decoration: none;
    color: #fff;
}

p {
    font-size: 16px;
    color: #d4d4d8;
}

span {
    color: rgb(255, 0, 0);
}

/* Estilos de los títulos */
.dift-title {
    margin-left: 30px;
}

.dift-title h1 {
    font-size: 80px;
    margin-bottom: 30px;
}

.dift-title a {
    background-color: red;
    border-radius: 10px;
    transition: .5s;
    padding: 10px;
    font-weight: bold;
}

.dift-title a:hover {
    background-color: #fff;
    color: red;
    transition: .3s;
}

.titles h1 {
    font-size: 45px;
}

.titles {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}

/* Estilos del estado de Dift */
.dift-status-box {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
    flex-wrap: wrap;
}

.status-content {
    border-radius: 10px;
    width: 300px;
    padding: 10px;
    background-color: #181818;
}

.ofrece-content {
    background-color: #222222;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.ofrece-content h1 {
    color: red;
    font-size: 22px;
}

.ofrece-content p {
    color: #fff;
}

/* Estilos de la invitación a unirse */
.dift-invite {
    display: flex;
    align-items: center;
    background-color: #181818;
    padding: 20px;
    justify-content: center;
    text-align: center;
}

.dift-invite p {
    margin-bottom: 20px;
}

.dift-invite a {
    background-color: red;
    padding: 7px;
    border-radius: 10px;
    transition: .4s;
    font-weight: bold;
}

.dift-invite a:hover {
    background-color: #fff;
    color: red;
    transition: .4s;
}

/* Estilos del pie de página */
footer {
    text-align: center;
    padding: 20px;
}

/* Estilos de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 9px;
    background-color: #121212;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(48, 48, 48);
}
